footer {
  color: white;
  text-align: center;
}

#footerTexto {
  background-color: red;
  width: 100%;
}

#footerRedes img {
  margin-right: 10px;
  border-radius: 20%;
}

#dhLogo {
  width: 200px;
}

.redesSociales {
  width: 30px;

}

#footerTexto {
  background-color: red;
  text-align: center;
  padding: 10px 0;
}

#footerRedes {
  background-color: white;
  display: flex;
  padding: 15px 0;
  justify-content: space-around;
}

