header {
  display: flex;
  justify-content: space-around;
}

.headerLight,
.headerDark {
  display: flex;
  flex-direction: row;
}
#menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnHeader, .btnH {
  border: none;
  border-radius: 15%;
  margin: 20px;
  width: 100px;
  height: 35px;
  background-color:  hsl(0, 0%, 97%);
}

.btnH{
width: 35px;
background-color: white;}

.btnH img {
  width: 20px;
}

.headerDark {
  color: hsl(234, 39%, 85%);
  background-color: black;
}
.headerLight {
  color: black;
  background-color: hsl(0, 0%, 97%);
}

span{
  color: red;
}